trigger:
  batch: true
  branches:
    include:
      - master
      - 'v*'
  paths:
    exclude:
    - doc
    - '*.md'
    - azure-pipelines/release.yml

resources:
  containers:
  - container: xenial
    image: andrewarnott/linux-buildagent
  - container: bionic
    image: microsoft/dotnet:2.1-sdk-bionic
  - container: bionic-3.0
    image: mcr.microsoft.com/dotnet/core/sdk:3.0-bionic
  - container: disco
    image: mcr.microsoft.com/dotnet/core/sdk:3.0-disco
  - container: archlinux
    image: andrewarnott/archlinux

variables:
  TreatWarningsAsErrors: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  BuildConfiguration: Release
  BuildPlatform: Any CPU

stages:
- stage: Build
  jobs:
  - job: Windows
    pool: Hosted Windows 2019 with VS2019
    variables:
    - group: dotnetfoundation code signing
    steps:
    - checkout: self
      clean: true
      submodules: true # keep the warnings quiet about the wiki not being enlisted
    - script: |
        git config --global user.name ci
        git config --global user.email me@ci.com
      displayName: Configure git commit author for testing

    - task: UseDotNet@2
      displayName: Install .NET Core SDK 3.1.100
      inputs:
        packageType: sdk
        version: 3.1.100
    - script: dotnet --info
      displayName: Show dotnet SDK info

    - script: |
        dotnet tool install --tool-path . nbgv
        .\nbgv cloud -a
      displayName: Set build number

    - task: DotNetCoreCLI@2
      displayName: Restore NuGet packages
      inputs:
        command: restore
        verbosityRestore: normal # detailed, normal, minimal
        projects: src/**/*.sln
        feedsToUse: config
        nugetConfigPath: src/nuget.config
        workingDirectory: src

    - task: geeklearningio.gl-vsts-tasks-yarn.yarn-installer-task.YarnInstaller@2
      displayName: 'Use Yarn 1.x'
    - task: geeklearningio.gl-vsts-tasks-yarn.yarn-task.Yarn@2
      displayName: 'Yarn install'
      inputs:
        ProjectDirectory: 'src/nerdbank-gitversioning.npm'

    - script: dotnet build -c $(BuildConfiguration) --no-restore /t:build,pack /bl:"$(Build.ArtifactStagingDirectory)/build_logs/msbuild.binlog"
      displayName: Build NuGet package and tests
      workingDirectory: src

    - script: dotnet publish -c $(BuildConfiguration) -o ..\nerdbank-gitversioning.npm\out\nbgv.cli\tools\netcoreapp2.1\any /bl:"$(Build.ArtifactStagingDirectory)/build_logs/nbgv_publish.binlog"
      displayName: Publish nbgv tool
      workingDirectory: src\nbgv

    - task: gulp@0
      displayName: Build nerdbank-gitversioning NPM package
      inputs:
        gulpfile: src\nerdbank-gitversioning.npm\gulpfile.js

    - script: dotnet test Nerdbank.GitVersioning.Tests --no-build -c $(BuildConfiguration) --filter "TestCategory!=FailsOnAzurePipelines" --logger "trx;LogFileName=$(Build.ArtifactStagingDirectory)\TestLogs\TestResults.trx"
      displayName: Run tests
      workingDirectory: src

    - task: PublishTestResults@2
      displayName: Publish test results
      inputs:
        testResultsFormat: VSTest
        testResultsFiles: '*.trx'
        searchFolder: $(Build.ArtifactStagingDirectory)\TestLogs
        buildPlatform: $(BuildPlatform)
        buildConfiguration: $(BuildConfiguration)
      condition: always()

    - task: CopyFiles@1
      inputs:
        sourceFolder: $(System.DefaultWorkingDirectory)/bin
        Contents: |
          **\*.nupkg
          js\*.tgz
        TargetFolder: $(Build.ArtifactStagingDirectory)/deployables
        flattenFolders: true
      displayName: Collecting deployable artifacts

    - pwsh: >
        dotnet tool install --tool-path obj SignClient

        obj/SignClient sign
        --baseDirectory '$(Build.ArtifactStagingDirectory)/deployables'
        --input '**/*'
        --config '$(System.DefaultWorkingDirectory)/azure-pipelines/SignClient.json'
        --filelist '$(System.DefaultWorkingDirectory)/azure-pipelines/signfiles.txt'
        --user '$(codesign_username)'
        --secret '$(codesign_secret)'
        --name 'Nerdbank.GitVersioning'
        --descriptionUrl 'https://github.com/dotnet/Nerdbank.GitVersioning'
      displayName: Code sign
      condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))

    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: $(Build.ArtifactStagingDirectory)/deployables
        ArtifactName: deployables
        ArtifactType: Container
      displayName: Publish deployables artifacts
    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: $(Build.ArtifactStagingDirectory)/build_logs
        ArtifactName: build_logs
        ArtifactType: Container
      displayName: Publish build_logs artifacts
      condition: succeededOrFailed()
    - task: NuGetCommand@2
      displayName: Pushing package to PublicCI feed
      inputs:
        command: push
        packagesToPush: $(Build.ArtifactStagingDirectory)/deployables/*.*nupkg
        nuGetFeedType: internal
        publishVstsFeed: OSS/PublicCI
        allowPackageConflicts: true
      condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))

    - pwsh: Set-Content -Path "$(Agent.TempDirectory)/.npmrc" -Value "registry=https://pkgs.dev.azure.com/andrewarnott/OSS/_packaging/PublicCI/npm/registry/`nalways-auth=true"
      displayName: Prepare to push to PublicCI
      condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    - task: npmAuthenticate@0
      displayName: Authenticate to PublicCI
      inputs:
        workingFile: $(Agent.TempDirectory)/.npmrc
      condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    - pwsh: |
        $tgz = (Get-ChildItem "$(Build.ArtifactStagingDirectory)/deployables/*.tgz")[0].FullName
        Write-Host "Will publish $tgz"
        npm publish $tgz
      workingDirectory: $(Agent.TempDirectory)
      displayName: npm publish to PublicCI feed
      condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))

- stage: Test
  jobs:
  - job: Ubuntu_Xenial
    pool:
      vmImage: Ubuntu 16.04
    container: xenial
    steps:
    - bash: sudo apt update && sudo apt-get install -y git
      displayName: Install git
    - template: azure-pipelines/xplattest-pipeline.yml

  - job: Ubuntu_Bionic
    pool:
      vmImage: Ubuntu 16.04 # not a bug. we always use this pool, but use containers for the specific version
    container: bionic
    steps:
    - template: azure-pipelines/xplattest-pipeline.yml

  - job: Ubuntu_Bionic_3_0
    pool:
      vmImage: Ubuntu 16.04 # not a bug. we always use this pool, but use containers for the specific version
    container: bionic-3.0
    steps:
    - template: azure-pipelines/xplattest-pipeline.yml

  - job: Ubuntu_Disco
    pool:
      vmImage: Ubuntu 16.04 # not a bug. we always use this pool, but use containers for the specific version
    container: disco
    steps:
    - template: azure-pipelines/xplattest-pipeline.yml

  - job: Arch_Linux
    pool:
      vmImage: Ubuntu 16.04 # not a bug. we always use this pool, but use containers for the specific version
    container: archlinux
    steps:
    - bash: sudo pacman -Sy --noconfirm git dotnet-sdk openssl-1.0
      displayName: Install git
    - template: azure-pipelines/xplattest-pipeline.yml

  - job: macOS
    pool:
      vmImage: macOS-10.15
    steps:
    - template: azure-pipelines/xplattest-pipeline.yml
