<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositorypath" value="packages" />
    <add key="signatureValidationMode" value="require" />
  </config>
  <packageSources>
    <clear />
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Consumption" value="https://pkgs.dev.azure.com/andrewarnott/OSS/_packaging/Consumption/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <!-- Defend against user or machine level disabling of sources that we list in this file. -->
    <clear />
  </disabledPackageSources>
  <trustedSigners>
    <repository name="nuget" serviceIndex="https://api.nuget.org/v3/index.json">
      <owners>Microsoft;aarnott;xunit;kzu;castleproject;patrickb8man;jamesnk;ethomson;AndreyAkinshin;MarcoRossignoli;cake-build;ericnewton76;0xd4d;manuel.roemer;Thecentury;sharwell;dotnetfoundation;wtfsck</owners>
      <certificate fingerprint="0e5f38f57dc1bcc806d8494f4f90fbcedd988b46760709cbeec6f4219aa6157d" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
      <certificate fingerprint="5A2901D6ADA3D18260B9C6DFE2133C95D74B9EEF6AE0E5DC334C8454D1477DF4" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
    </repository>
    <author name="Nerdbank">
      <certificate fingerprint="1f891e64936d15de5fae22d910cd39f3e9860213c92f20cf9638a245b1249d2b" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
    </author>
    <author name="Microsoft">
      <certificate fingerprint="aa12da22a49bce7d5c1ae64cc1f3d892f150da76140f210abd2cbffca2c18a27" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
      <certificate fingerprint="3f9001ea83c560d712c24cf213c3d312cb3bff51ee89435d3430bd06b5d0eece" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
    </author>
  </trustedSigners>
</configuration>
