<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibGit2Sharp" version="0.21.0.176" targetFramework="net452" />
  <package id="Nerdbank.GitVersioning" version="1.4.29-ge2e81bfa3d" targetFramework="net45" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="Validation" version="2.0.6.15003" targetFramework="net452" />
</packages>